* {
    color: hwb(46 9% 32%);
}

.TitlePage {
    font-family: "Lucida Console", "Courier New", monospace;

}

.description {
    color: whitesmoke;
    background: gray;

    height: auto;
    /* width: 300px; */
    padding: 20px;
    border: 5px outset black;
    /* margin: 30px auto; */
    box-sizing: border-box;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}


ul li p {
    color: hwb(46 21% 32%);

}

ol li {
    font-weight: 700;
    font-style: italic;
}

.step-desc {
    font-weight: normal;
    color: hwb(46 21% 32%);
    font-style: normal;
}

.desc-span {
    color: whitesmoke;
    border: 2px dotted blue;
    padding: 20px;
    margin: 20px;
}

.outer {
    border: 2px solid black;
    
}